<app-anti-hero-form [selectedId]="id"></app-anti-hero-form>



























<!--
<mat-card>
    <h2>Formulaire Dynamique</h2>
  
    <form [formGroup]="heroForm" (ngSubmit)="onSubmit(heroForm)">
      <div formArrayName="items">
        <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i" class="form-item">

          <mat-form-field appearance="outline">
            <mat-label>firstName</mat-label>
            <input matInput formControlName="firstName" placeholder="firstName">
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>lastName</mat-label>
            <input matInput formControlName="lastName" placeholder="lastName">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>knownAs</mat-label>
            <input matInput formControlName="knownAs" placeholder="knownAs">
          </mat-form-field>

          <div formGroupName="address">
            <mat-form-field appearance="outline">
                <mat-label>street</mat-label>
                <input matInput formControlName="street" placeholder="street">
              </mat-form-field>
      
              <mat-form-field appearance="outline">
                <mat-label>city</mat-label>
                <input matInput formControlName="city" placeholder="city">
              </mat-form-field>
    
              <mat-form-field appearance="outline">
                <mat-label>country</mat-label>
                <input matInput formControlName="country" placeholder="country">
              </mat-form-field>
          </div>
  
          <button mat-icon-button color="warn" (click)="removeItem(i)" type="button">
            <mat-icon>delete</mat-icon>
          </button>

        </div>
      </div>
  
      <button mat-raised-button color="primary" (click)="addItem()" type="button">
        Ajouter un champ
      </button>
      <button mat-raised-button color="accent" type="submit">Soumettre</button>
    </form>
</mat-card>
-->







